@media (min-width: 992px)
{
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

}

body {
    background-color: #f8f9fa;
}

.logo {
    height: 60px;
    transition: all 500ms;
}

.navbar-brand img {
  height: 60px;
  /* put value of image height as your need */
  float: left;
  margin-right: 7px;
}

.navbar-light .navbar-nav .nav-link {
    transition: all 500ms;
}

.navbar-light .navbar-nav .active .nav-link
{
    /* color: #6EC1E4; */
    color: #418924;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #418924;
}

.logo:hover,
.navbar-light .navbar-nav .nav-link:hover {
    transform: scale(1.2);
}

.highligth-wrapper .card {
    border: none;
    box-shadow: 1px 2px 11px 0px rgba(0,0,0,0.38);
    -webkit-box-shadow: 1px 2px 11px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 1px 2px 11px 0px rgba(0,0,0,0.38);
}

.highligth-wrapper .card-body {
    text-align: center;
}

.highligth-wrapper .card-title span {
    color: #418924;
}

.post-wrapper .card {
    border: none;
    border-radius: 0;
    box-shadow: 1px 2px 11px 0px rgba(0,0,0,0.38);
    -webkit-box-shadow: 1px 2px 11px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 1px 2px 11px 0px rgba(0,0,0,0.38);
}

.post-wrapper .card-img-top {
    border-radius: 0;
}

.agenda h5 {
    overflow: hidden;
    color: #418924;
}

.agenda h5:after {
    content: "";
    display: inline-block;
    height: 0.5rem;
    /* vertical-align: bottom; */
    width: 100%;
    margin-right: -100%;
    margin-left: 10px;
    border-top: 3px solid black;
}

footer {
    background-color: #4D5053;
    color: #ffffff;
}

footer a,
footer address {
    color: #ffffff;
    font-size: 0.8rem;
}

footer a:hover {
    text-decoration: none;
    color: #ffffff;
}

footer small {
    font-size: 0.6rem;
}